<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Details</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismissAll('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Ouverte par :</strong> {{caisse.openedByName}}</p>
  <p><strong>Montant d'ouverture:</strong> {{caisse.montantOuverture}} TND</p>
  <p><strong>Date d'ouverture:</strong> {{caisse.openedDate | date:'long'}}</p>
  <hr>
  <p><strong>Fermé par :</strong> {{caisse.openedByName}}</p>
  <div *ngFor="let fermeture of caisse.montantsFermeture; index as i">
    <p><strong>Montant de fermeture:</strong> {{fermeture}} TND</p>
    <p><strong>Date de fermeture:</strong> {{caisse.closedDates[i] | date:'long'}}</p>
  </div>
  <hr>
  <p><strong>Entrées Caisse:</strong> {{caisse.caisseIn}}</p>
  <p><strong>Sorties Caisse:</strong> {{caisse.caisseOut}}</p>
  <hr>
  <div *ngIf="caisse.depenses.length > 0">
    <h5>Dépenses</h5>
    <div *ngFor="let depense of caisse.depenses">
      <p><strong>Type:</strong> {{depense.type}} - <strong>Montant :</strong> {{depense.montant}} TND - <strong>Date de dépense :</strong> {{depense.createdDate | date:'long'}}</p>
    </div>
  </div>
  <div *ngIf="caisse.payements.length > 0">
    <h5>Payements</h5>
    <div *ngFor="let payement of caisse.payements">
      <p><strong>Montant:</strong> {{payement.amountToPay}} TND - <strong>Date de payement :</strong> {{payement.closedDate | date:'long'}}</p>
    </div>
  </div>
  <div *ngIf="caisse.recoltedActivities.length > 0">
    <h5>Activités Recoltés</h5>
    <div *ngFor="let activity of caisse.recoltedActivities">
      <p><strong>Montant:</strong> {{activity.argentRecolte}} TND - <strong>Date de récolte :</strong> {{activity.closedDate | date:'long'}}</p>
    </div>
  </div>
  <div *ngIf="caisse.injections.length > 0">
    <h5>Injections Fond</h5>
    <div *ngFor="let injection of caisse.injections">
      <p><strong>Montant:</strong> {{injection.montant}} TND - <strong>Date d'injection :</strong> {{injection.createdDate | date:'long'}}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" ngbAutofocus class="btn btn-success" (click)="modal.dismissAll('Ok click')">D'accord</button>
</div>
