<div class="modal-header">
</div>
<div class="modal-body">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <div style="transform: scale(0.5);margin-right:50%">
        <div  class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center">
      <div class="text-center mt-2" style="width: 100%">
        <h3 style="width: 100%">Activité clôturée</h3>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
</div>
