<div class="row" style="margin-top: -15px">
  <mat-card [class.mat-elevation-z8]="true" style="width: 100%;">
    <div class="row">
      <div class="col-md-12">
        <app-page-header [heading]="'Activité Payement'" [icon]="'fa-table'"></app-page-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Payements</h5>
        <p style="color: grey; font-style: italic;">{{ date | date:'longDate'}}</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-10 Aligner">
      </div>
      <div class="col-md-2 Aligner ">
        <button mat-raised-button *ngIf="activityPayement_List.selectedOptions.selected.length === 0 && user.role === 'superAdmin' "
                style="width:100%;" color="primary" (click)="openDialog()" class="ml-2">nouveau payement
        </button>
        <button mat-raised-button color="warn" class="ml-2"
                style="width: 100%"
                *ngIf="activityPayement_List.selectedOptions.selected.length>0 && checkedActivityStatus === 'draft' && user.role === 'superAdmin' " (click)="deleteSelectedActivity()">
          Annuler
        </button>
        <button mat-raised-button  class="ml-2"
                style="width: 100%; background-color: #00aa88; color: white;"
                *ngIf="activityPayement_List.selectedOptions.selected.length>0 && checkedActivityStatus === 'confirmed' " (click)="generateExcelReportForClient(selectedActivityPayement)">
          imprimer
        </button>
      </div>
    </div>
  </mat-card>
</div>
<div class="row">
  <mat-spinner *ngIf="spinner" class="center"></mat-spinner>
  <mat-selection-list style="width:100%" #activityPayement_List >
    <div *ngFor="let activityPayement of activitiesPayement">
      <mat-list-option #activityPayement_option
                       *ngIf="(activityPayement.deleted === false) && (activityPayement.status === 'draft' || activityPayement.status ==='confirmed'
                       || activityPayement.status ==='closed') && user.role === 'superAdmin'"
                       (click)="onAreaListControlChanged(activityPayement_option, activityPayement)">
        <div class="row mt-1">
          <div class="col-md-9">
            <p>activityPayement_Packways_{{activityPayement.ref}}</p>
            <p style="color: grey; font-style: italic;">
              {{showStatus(activityPayement.status)}} - Client: <strong>
              {{(!!activityPayement.clientName) ? activityPayement.clientName : "n'est pas assigné"}}
            </strong></p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-2">
            <button style="z-index: 10;" *ngIf="activityPayement.status === 'draft'" type="button" class="mat-mini-fab mt-2" title="Modifier"
                    (click)="editActivity(activityPayement)"> <!-- (click)="open(content)" -->
              <i class="material-icons"> create </i>
            </button>
            <button style="z-index: 10;" *ngIf="activityPayement.status === 'confirmed'" type="button" class="mat-mini-fab mt-2" title="clôturer l'activité de payement"
                    (click)="editActivity(activityPayement)"> <!-- (click)="open(content)" -->
              <i class="material-icons"> receipt </i>
            </button>
            <button style="z-index: 10;" *ngIf="activityPayement.status === 'closed'" type="button" class="mat-mini-fab mt-2" title="détails"
                    (click)="editActivity(activityPayement)"> <!-- (click)="open(content)" -->
              <i class="material-icons"> visibility </i>
            </button>
            <button type="button" *ngIf="activityPayement.status === 'draft'" style="z-index: 10;" class="mat-mini-fab ml-2 mt-2" title="Supprimer">
              <i class="material-icons" (click)="deleteActivity(activityPayement)"> delete </i>
            </button>
            <button *ngIf="activityPayement.status === 'confirmed' || activityPayement.status === 'closed'" style="z-index: 10;" type="button"
                    class="mat-mini-fab ml-2 mt-2" title="Imprimer">
              <i class="material-icons" (click)="generateExcelReportForClient(activityPayement)"> print </i>
            </button>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-1">
            <p style="color: grey; font-style: italic;"
               class="mt-2">{{ activityPayement.createdDate | date:'dd/MM/yyyy'}}</p>
            <p style="color: grey; font-style: italic;"
               [ngClass]="{'text-success': calculateDiff(activityPayement.createdDate) < 2 ,
              'text-warning': calculateDiff(activityPayement.createdDate) === 2, 'text-danger': calculateDiff(activityPayement.createdDate) > 2}"
               class="mt-2">
              <strong>{{ calculateDiff(activityPayement.createdDate)}} Jours</strong></p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-option>
      <mat-list-option #activityPayement_option
                       *ngIf="(activityPayement.deleted === false) && (activityPayement.status ==='confirmed'
                       || activityPayement.status ==='closed') && user.idUser === activityPayement.clientId"
                       (click)="onAreaListControlChanged(activityPayement_option, activityPayement)">
        <div class="row mt-1">
          <div class="col-md-9">
            <p>activityPayement_Packways_{{activityPayement.ref}}</p>
            <p style="color: grey; font-style: italic;">
              {{showStatus(activityPayement.status)}} - Client: <strong>
              {{(!!activityPayement.clientName) ? activityPayement.clientName : "n'est pas assigné"}}
            </strong></p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-2">

            <button *ngIf="activityPayement.status === 'confirmed' || activityPayement.status === 'closed'" style="z-index: 10;" type="button"
                    class="mat-mini-fab ml-2 mt-2" title="Imprimer">
              <i class="material-icons" (click)="generateExcelReportForClient(activityPayement)"> print </i>
            </button>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-1">
            <p style="color: grey; font-style: italic;"
               class="mt-2">{{ activityPayement.createdDate | date:'dd/MM/yyyy'}}</p>
            <p style="color: grey; font-style: italic;"
               [ngClass]="{'text-success': calculateDiff(activityPayement.createdDate) < 2 ,
              'text-warning': calculateDiff(activityPayement.createdDate) === 2, 'text-danger': calculateDiff(activityPayement.createdDate) > 2}"
               class="mt-2">
              <strong>{{ calculateDiff(activityPayement.createdDate)}} Jours</strong></p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div>


