
<div class="row" style="margin-top: -15px">
  <mat-card [class.mat-elevation-z8]="true" style="width: 100%;" >
    <div class="row">
      <div class="col-md-12">
        <app-page-header [heading]="'Runsheets'" [icon]="'fa-table'"></app-page-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Gestion des runsheets</h5>
        <p style="color: grey; font-style: italic;">{{ date | date:'longDate'}}</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-10 Aligner">
        <p><mat-form-field appearance="fill" class="ml-2">
          <mat-label>REF</mat-label>
          <input matInput placeholder="filtrer par réference" (keyup)="applyFilter($event.target.value)">
          <mat-icon matSuffix>keyboard</mat-icon>
        </mat-form-field>
        </p>
      </div>
      <div class="col-md-2 Aligner ">
          <button mat-raised-button style="width:100%;" (click)="openDialog()" *ngIf="runsheets_list.selectedOptions.selected.length === 0 " class="ml-2">Créer</button>
        <button mat-raised-button style="width:50%;"  class="ml-2" (click)="dispatchRunsheet()"
                *ngIf="runsheets_list.selectedOptions.selected.length>0 && checkedRunsheetStatus==='confirmed'">Expédier</button>
        <button mat-raised-button color="warn"  class="ml-2" [ngStyle]="{'width': checkedRunsheetStatus==='draft'?'100%':'50%'}"
                *ngIf="runsheets_list.selectedOptions.selected.length>0 " (click)="deleteSelectedRunsheet()">Annuler</button>
      </div>
    </div>
  </mat-card>
</div>
<div class="row">
  <mat-spinner *ngIf="spinner" class="center"></mat-spinner>
  <mat-selection-list style="width:100%"  #runsheets_list>
    <div *ngFor="let runsheet of filtredRunsheets">
      <mat-list-option #runsheet_option *ngIf="runsheet.deleted === false && (runsheet.status === 'draft' || runsheet.status ==='confirmed')" (click)="onAreaListControlChanged(runsheet_option, runsheet)" >
        <div class="row mt-1" >
          <div class="col-md-9">
            <p>runsheet_Packways_{{runsheet.ref}} ({{getListColisLength(runsheet.listColis)}} colis)</p>
            <p style="color: grey; font-style: italic;">
              {{runsheet.status}} - Driver: <strong>
              {{(!!runsheet.driver) ?  runsheet.driver.nameDriver+" "+runsheet.driver.surnameDriver : "n'est pas assigné"}}
            </strong> - Type: <strong>{{runsheet.type}}</strong></p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-2">
            <button style="z-index: 10;" type="button" class="mat-mini-fab mt-2" title="Modifier" [routerLink]="'/runsheet/edit/'+runsheet.id" > <!-- (click)="open(content)" -->
              <i class="material-icons"> create </i>
            </button>
            <button type="button" style="z-index: 10;" class="mat-mini-fab ml-2 mt-2" title="Supprimer" (click)="deleteRunsheet(runsheet)">
              <i class="material-icons"  > delete </i>
            </button>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-1">
            <p style="color: grey; font-style: italic;" class="mt-2">{{ runsheet.createdDate | date:'dd/MM/yyyy'}}</p>
            <p style="color: grey; font-style: italic;"
               [ngClass]="{'text-success': calculateDiff(runsheet.createdDate) < 2 ,
              'text-warning': calculateDiff(runsheet.createdDate) === 2, 'text-danger': calculateDiff(runsheet.createdDate) > 2}"
               class="mt-2">
              <strong>{{ calculateDiff(runsheet.createdDate)}} Jours</strong></p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
        </div>
        <mat-divider ></mat-divider>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div>
