<div class="row" style="margin-top: -15px">
  <mat-card [class.mat-elevation-z8]="true" style="width: 100%;" >
    <div class="row">
      <div class="col-md-12">
        <app-page-header [heading]="'Activité Runsheet'" [icon]="'fa-table'"></app-page-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Réconcilier l'activité de livreur : {{!!activityRunsheetInfo?activityRunsheetInfo.driver.nameDriver+
          ' '+activityRunsheetInfo.driver.surnameDriver:'-'}}</h5>
        <p style="color: grey; font-style: italic;">{{ date | date:'longDate'}}</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-10 Aligner">
        <fieldset *ngIf="failureStepper && activityRunsheet.status === 'draft'" class="scheduler-border-1">
          <legend class="scheduler-border-1">Scan QR-Code</legend>
          <form class="form-inline mr-auto">
            <input autocomplete="off" class="form-control" type="text" id="myInput" [(ngModel)]="searchTermscanFailure" [ngModelOptions]="{standalone: true}" placeholder="Chercher" aria-label="Search" width="100%">
            <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" (click)="scanListFailure()" type="submit" hidden><i class="fa fa-search"></i></button>
          </form>
        </fieldset>
        <fieldset *ngIf="successStepper && activityRunsheet.status === 'draft'" class="scheduler-border-1">
          <legend class="scheduler-border-1">Scan QR-Code</legend>
          <form class="form-inline mr-auto">
            <input autocomplete="off" class="form-control" type="text" id="myInput" [(ngModel)]="searchTermScanSuccess" [ngModelOptions]="{standalone: true}" placeholder="Chercher" aria-label="Search" width="100%">
            <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" (click)="scanListSuccess()" type="submit" hidden><i class="fa fa-search"></i></button>
          </form>
        </fieldset>
        <fieldset *ngIf="pickUpStepper && activityRunsheet.status === 'draft'" class="scheduler-border-1">
          <legend class="scheduler-border-1">Scan QR-Code</legend>
          <form class="form-inline mr-auto">
            <input autocomplete="off" class="form-control" type="text" id="myInput" [(ngModel)]="searchTermScanPickUp" [ngModelOptions]="{standalone: true}" placeholder="Chercher" aria-label="Search" width="100%">
            <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" (click)="scanListPickUp()" type="submit" hidden><i class="fa fa-search"></i></button>
          </form>
        </fieldset>
        <!--        <small class="form-text text-primary ml-3" style="font-size:12px !important;">Nombre des colis selectionnées:  <b>{{(!!runsheet) ? getListColisLength(runsheet.listColis) : 0}}</b></small>-->
      </div>
      <div class="col-md-2 Aligner ">
        <button mat-button mat-raised-button color="primary" *ngIf="!firstStep && !(activityRunsheet.status === 'confirmed' && finalStep) "  [ngStyle]="{'width': firstStep === true ?'0%':'50%'}"  (click)="goBack(stepper)" >Précédent</button>
        <button mat-button mat-raised-button color="primary" *ngIf="finalStep && activityRunsheet.status === 'confirmed'"  style="width: 100%"  (click)="goBack(stepper)" >Précédent</button>
        <button mat-button mat-raised-button *ngIf="!finalStep" [ngStyle]="{'width': firstStep === true ?'100%':'50%', 'background-color':'#00aa88', 'color': 'white'}"class="ml-2" (click)="goForward(stepper)">Suivant</button>
        <div *ngIf="!!activityRunsheet">
          <button mat-button mat-raised-button  *ngIf="finalStep && activityRunsheet.status === 'draft'" style="width:50%;background-color:#00aa88;color:white;" class="ml-2" (click)="conirmeActivite('confirmActivity')">Confirmer</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>


  <div class="row">
    <mat-horizontal-stepper [linear]="false" #stepper style="width:100%;">
      <mat-step>
        <ng-template matStepLabel>Liste des runsheets</ng-template>
        <div class="row">
          <mat-spinner *ngIf="spinner" class="center"></mat-spinner>
          <mat-selection-list style="width:100%"  #runsheets_list>
            <mat-divider style="width: 100%"></mat-divider>
            <div *ngFor="let runsheet of inProgressRunsheets">
              <mat-list-option #runsheet_option *ngIf="runsheet.runsheetObject.deleted === false && (runsheet.runsheetObject.status === 'dispached')">
                <div class="row mt-1" >
                  <div class="col-md-10">
                    <p>runsheet_Packways_{{runsheet.runsheetObject.ref}} ({{runsheet.nbTreatedTrips}}/{{getListColisLength(runsheet.runsheetObject.listColis)}} colis)</p>
                    <p style="color: grey; font-style: italic;">
                      {{runsheet.runsheetObject.status}} - Driver: <strong>
                      {{(!!runsheet.runsheetObject.driver) ?  runsheet.runsheetObject.driver.nameDriver+" "+runsheet.runsheetObject.driver.surnameDriver : "n'est pas assigné"}}
                    </strong> - Type: <strong>{{runsheet.runsheetObject.type}}</strong> </p>
                    <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
                  </div>
                  <div class="col-md-1">
                    <div class="example-button-container">
                      <button mat-mini-fab color="basic" class="mt-3" style="z-index: 10" aria-label="liste des colis" (click)="showInProgressTrips(runsheet, contentInProgressTrips)">
                        <mat-icon>list</mat-icon>
                      </button>
                    </div>
                    <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
                  </div>
                  <div class="col-md-1">
                    <p style="color: grey; font-style: italic;" class="mt-2"><span style="display: block">Expédiée le </span>{{ runsheet.runsheetObject.createdDate | date:'dd/MM/yyyy'}}</p>
                    <p style="color: grey; font-style: italic;"
                       [ngClass]="{'text-success': calculateDiff(runsheet.runsheetObject.dispachedDate) < 2 ,
              'text-warning': calculateDiff(runsheet.runsheetObject.dispachedDate) === 2, 'text-danger': calculateDiff(runsheet.runsheetObject.dispachedDate) > 2}"
                       class="mt-2">
                      <strong>{{ calculateDiff(runsheet.runsheetObject.dispachedDate)}} Jours</strong></p>
                    <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
                  </div>
                </div>
                <mat-divider ></mat-divider>
              </mat-list-option>
            </div>
            <div *ngFor="let runsheet of closedRunsheets">
              <mat-list-option #runsheet_option_closed *ngIf="runsheet.runsheetObject.deleted === false && (runsheet.runsheetObject.status === 'closed')">
                <div class="row mt-1" >
                  <div class="col-md-10">
                    <p>runsheet_Packways_{{runsheet.runsheetObject.ref}} ({{runsheet.nbTreatedTrips}}/{{getListColisLength(runsheet.runsheetObject.listColis)}} colis)</p>
                    <p style="color: grey; font-style: italic;">
                      {{runsheet.runsheetObject.status}} - Driver: <strong>
                      {{(!!runsheet.runsheetObject.driver) ?  runsheet.runsheetObject.driver.nameDriver+" "+runsheet.runsheetObject.driver.surnameDriver : "n'est pas assigné"}}
                    </strong> - Type: <strong>{{runsheet.runsheetObject.type}}</strong></p>
                    <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
                  </div>
                  <div class="col-md-1">
                    <div class="example-button-container">
                      <button mat-mini-fab color="basic" class="mt-3" style="z-index: 10" aria-label="liste des colis" (click)="showInProgressTrips(runsheet, contentInProgressTrips)">
                        <mat-icon>list</mat-icon>
                      </button>
                    </div>
                    <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
                  </div>
                  <div class="col-md-1">
                    <p style="color: grey; font-style: italic;" class="mt-2"><span style="display: block">cloturé le </span>{{ runsheet.runsheetObject.closedDate | date:'dd/MM/yyyy'}}</p>
                    <p style="color: grey; font-style: italic;"
                       [ngClass]="{'text-success': calculateDiff(runsheet.runsheetObject.closedDate) < 2 ,
              'text-warning': calculateDiff(runsheet.runsheetObject.closedDate) === 2, 'text-danger': calculateDiff(runsheet.runsheetObject.closedDate) > 2}"
                       class="mt-2">
                      <strong>{{ calculateDiff(runsheet.runsheetObject.closedDate)}} Jours</strong></p>
                    <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </mat-list-option>
            </div>
          </mat-selection-list>
        </div>
        <ng-template #contentInProgressTrips let-c="close" let-d="dismiss">
          <div class="modal-body">
            <div class="row justify-content-center">
              <h6 style="color: #f01010;"><b>Liste des colis dans la runsheet en cours</b></h6>
            </div>
          </div>
          <div class="modal-body">
            <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
              <thead class="thead">
              <tr class="thead-light text-center">
                <th style="width:1%">Ref</th>
                <th style="width:1%">Status</th>
                <th style="width:1%">Expéditeur</th>
                <th style="width:1%">Destinataire</th>
                <th style="width:1%">Msg</th>
              </tr>
              </thead>
              <tbody style="font-size:14px !important;">
              <tr *ngFor="let trp of selectedInProgressTrips" class="table-active text-center" style="background-color: #ffffff;">
                <td *ngIf="!!trp.survey" style="background-color: orange">{{trp.refTrip}}</td>
                <td [ngStyle]="{'background-color':inNonTreatedList(trp)?'#ffffff':'#00aa88'}" *ngIf="!trp.survey">{{trp.refTrip}}</td>
                <td *ngIf="!!trp.survey" style="background-color: orange">{{trp.statusTrip }}</td>
                <td [ngStyle]="{'background-color':inNonTreatedList(trp)?'#ffffff':'#00aa88'}" *ngIf="!trp.survey">{{trp.statusTrip }}</td>
                <td *ngIf="!!trp.survey" style="background-color: orange">{{trp.userTrip.nameUser}} {{trp.userTrip.surnameUser}}</td>
                <td [ngStyle]="{'background-color':inNonTreatedList(trp)?'#ffffff':'#00aa88'}" *ngIf="!trp.survey">{{trp.userTrip.nameUser}} {{trp.userTrip.surnameUser}}</td>
                <td *ngIf="!!trp.survey" style="background-color: orange" >{{trp.destTrip.contactAdr }}</td>
                <td [ngStyle]="{'background-color':inNonTreatedList(trp)?'#ffffff':'#00aa88'}"  *ngIf="!trp.survey">{{trp.destTrip.contactAdr }}</td>
                <td  *ngIf="!!trp.survey && (trp.msgTrip && trp.msgTrip.length > 0)" style="background-color: orange" >
                  <ul>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].contentMsg }}</li>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].dateMsg }}</li>
                  </ul>
                </td>
                <td  [ngStyle]="{'background-color':inNonTreatedList(trp)?'#ffffff':'#00aa88'}" *ngIf="!trp.survey &&trp.msgTrip && trp.msgTrip.length > 0">
                  <ul>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].contentMsg }}</li>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].dateMsg }}</li>
                  </ul>
                </td>
                <td *ngIf="!!trp.survey && (trp.msgTrip && trp.msgTrip.length === 0)" style="background-color: orange">-</td>
                <td [ngStyle]="{'background-color':inNonTreatedList(trp)?'#ffffff':'#00aa88'}" *ngIf="!trp.survey && trp.msgTrip && trp.msgTrip.length === 0">-</td>

              </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="(c('Close click'))">D'accord</button>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Scanner les colis (non livrés / non retournés)</ng-template>
        <div *ngIf="!!activityRunsheet">
          <div class="row">
            <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
              <thead class="thead"  *ngIf="ListScanFailure !== []" >
              <tr class="thead-light text-center">
                <th style="width:1%">Ref</th>
                <th style="width:1%">Status</th>
                <th style="width:1%">Expéditeur</th>
                <th style="width:1%">Destinataire</th>
                <th style="width:1%">Msg</th>
                <th style="width:1%" *ngIf="activityRunsheet.status === 'draft'">Action</th>
              </tr>
              </thead>
              <tbody style="font-size:14px !important;">
              <tr *ngFor="let trp of ListScanFailure" class="table-active text-center" style="background-color: #ffffff;">
                <td style="background-color: #ffffff;">{{trp.refTrip}}</td>
                <td style="background-color: #ffffff; width:15%;">{{trp.statusTrip}}</td>
                <td style="background-color: #ffffff; width:15%;">{{trp.userTrip.nameUser}} {{trp.userTrip.surnameUser}}</td>
                <td style="background-color: #ffffff; width:15%;" >{{trp.destTrip.contactAdr }}</td>
                <td  style="background-color: #ffffff;  width:20%;" *ngIf="trp.msgTrip && trp.msgTrip.length > 0">
                  <ul>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].contentMsg }}</li>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].dateMsg | date:'medium' }}</li>
                  </ul>
                </td>
                <td style="background-color: #ffffff;" *ngIf="trp.msgTrip && trp.msgTrip.length === 0">-</td>
                <td style="background-color: #ffffff; width:20%;" *ngIf="activityRunsheet.status === 'draft'">
                  <button style="display:inline-block;width: 50%" mat-raised-button (click)="forceRetour(trp)" *ngIf="trp.statusTrip === 'livraison en cours'" class="mr-2">Force Retour</button>
                  <i style="display:inline-block;width: 50%" class="material-icons mt-2" style="cursor:pointer;" (click)="deleteScanListFailure(trp)" > delete </i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Scanner les colis Livrés/Retournés</ng-template>
        <div *ngIf="!!activityRunsheet">
          <div class="row">
            <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
              <thead class="thead"  *ngIf="ListScanSuccess !== []" >
              <tr class="thead-light text-center">
                <th style="width:1%">Ref</th>
                <th style="width:1%">Status</th>
                <th style="width:1%">Expéditeur</th>
                <th style="width:1%">Destinataire</th>
                <th style="width:1%">Msg</th>
                <th style="width:1%" *ngIf="activityRunsheet.status === 'draft'">Action</th>
              </tr>
              </thead>
              <tbody style="font-size:14px !important;">
              <tr *ngFor="let trp of ListScanSuccess" class="table-active text-center" style="background-color: #ffffff;">
                <td style="background-color: #ffffff;">{{trp.refTrip}}</td>
                <td style="background-color: #ffffff; width:15%;">{{trp.statusTrip}}</td>
                <td style="background-color: #ffffff; width:15%;">{{trp.userTrip.nameUser}} {{trp.userTrip.surnameUser}}</td>
                <td style="background-color: #ffffff; width:15%;" >{{trp.destTrip.contactAdr }}</td>
                <td  style="background-color: #ffffff;  width:50%;" *ngIf="trp.msgTrip && trp.msgTrip.length > 0">
                  <ul>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].contentMsg }}</li>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].dateMsg }}</li>
                  </ul>
                </td>
                <td style="background-color: #ffffff;" *ngIf="trp.msgTrip && trp.msgTrip.length === 0">-</td>
                <td style="background-color: #ffffff;" *ngIf="activityRunsheet.status === 'draft'">
                  <i class="material-icons" style="cursor:pointer;" (click)="deleteScanListSuccess(trp)" > delete </i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>colis non traités</ng-template>
        <div *ngIf="!!activityRunsheet">
          <div class="row">
            <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
              <thead class="thead"  >
              <tr class="thead-light text-center">
                <th style="width:1%">Ref</th>
                <th style="width:1%">Status</th>
                <th style="width:1%">Expéditeur</th>
                <th style="width:1%">Destinataire</th>
                <th style="width:1%">Msg</th>
                <th style="width:1%">Action</th>
              </tr>
              </thead>
              <tbody style="font-size:14px !important;">
                <tr *ngFor="let trp of listColisNonTreated" class="table-active text-center" style="background-color: #ffffff;">
                  <td *ngIf="!!trp.survey" style="background-color: orange;width: 20%">{{trp.refTrip}}</td>
                  <td *ngIf="!trp.survey" style="background-color: #ffffff;">{{trp.refTrip}}</td>
                  <td *ngIf="!!trp.survey" style="background-color: orange;width: 20%">{{trp.statusTrip}}</td>
                  <td *ngIf="!trp.survey" style="background-color: #ffffff; width:20%;">{{trp.statusTrip}}</td>
                  <td *ngIf="!!trp.survey" style="background-color: orange;width: 20%">{{trp.userTrip.nameUser}} {{trp.userTrip.surnameUser}}</td>
                  <td *ngIf="!trp.survey" style="background-color: #ffffff; width:20%;">{{trp.userTrip.nameUser}} {{trp.userTrip.surnameUser}}</td>
                  <td *ngIf="!!trp.survey" style="background-color: orange;width: 20%" >{{trp.destTrip.contactAdr }}</td>
                  <td *ngIf="!trp.survey" style="background-color: #ffffff; width:20%;" >{{trp.destTrip.contactAdr }}</td>
                  <td  *ngIf="!!trp.survey && (trp.msgTrip && trp.msgTrip.length > 0)" style="background-color: orange;width: 20%" >
                    <ul>
                      <li>{{trp.msgTrip[trp.msgTrip.length-1].contentMsg }}</li>
                      <li>{{trp.msgTrip[trp.msgTrip.length-1].dateMsg }}</li>
                    </ul>
                  </td>
                  <td  style="background-color: #ffffff;  width:20%;" *ngIf="!trp.survey && trp.msgTrip && trp.msgTrip.length > 0">
                    <ul>
                      <li>{{trp.msgTrip[trp.msgTrip.length-1].contentMsg }}</li>
                      <li>{{trp.msgTrip[trp.msgTrip.length-1].dateMsg }}</li>
                    </ul>
                  </td>
                  <td *ngIf="!!trp.survey && trp.msgTrip && trp.msgTrip.length === 0" style="background-color: orange;width: 20%">-</td>
                  <td *ngIf="!trp.survey && trp.msgTrip && trp.msgTrip.length === 0" style="background-color: #ffffff;" >-</td>
                  <td style="background-color: #ffffff;" *ngIf="!trp.survey && !!activityRunsheet">
                    <mat-form-field appearance="fill" style="display: block; width: 100%">
                      <mat-label>Affecter une action</mat-label>
                      <mat-select   (selectionChange)="affectActionToConflictTrip($event.value, trp )">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let action of actions" [value]="action" >
                          {{action}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td *ngIf="!!trp.survey">
                    <p>Enquête en cours ..</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>colis de ramassage</ng-template>
        <div *ngIf="!!activityRunsheet">
          <div class="row">
            <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
              <thead class="thead"  *ngIf="ListScanPickUp !== []" >
              <tr class="thead-light text-center">
                <th style="width:1%">Ref</th>
                <th style="width:1%">Status</th>
                <th style="width:1%">Expéditeur</th>
                <th style="width:1%">Destinataire</th>
                <th style="width:1%">Msg</th>
                <th style="width:1%" *ngIf="activityRunsheet.status === 'draft'" >Action</th>
              </tr>
              </thead>
              <tbody style="font-size:14px !important;">
              <tr *ngFor="let trp of ListScanPickUp" class="table-active text-center" style="background-color: #ffffff;">
                <td style="background-color: #ffffff;">{{trp.refTrip}}</td>
                <td style="background-color: #ffffff; width:15%;">{{trp.statusTrip}}</td>
                <td style="background-color: #ffffff; width:15%;">{{trp.userTrip.nameUser}} {{trp.userTrip.surnameUser}}</td>
                <td style="background-color: #ffffff; width:15%;" >{{trp.destTrip.contactAdr }}</td>
                <td  style="background-color: #ffffff;  width:50%;" *ngIf="trp.msgTrip && trp.msgTrip.length > 0">
                  <ul>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].contentMsg }}</li>
                    <li>{{trp.msgTrip[trp.msgTrip.length-1].dateMsg }}</li>
                  </ul>
                </td>
                <td style="background-color: #ffffff;" *ngIf="trp.msgTrip && trp.msgTrip.length === 0">-</td>
                <td style="background-color: #ffffff;" *ngIf="activityRunsheet.status === 'draft'">
                  <i class="material-icons" style="cursor:pointer;" (click)="deleteScanListPickUp(trp)" > delete </i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </mat-step>
      <div *ngIf="!!activityRunsheet">
        <mat-step *ngIf="activityRunsheet.status === 'draft'">
          <ng-template matStepLabel>Dépenses</ng-template>
          <div class="row justify-content-md-center mt-2">
            <div class="col-md-11">
              <mat-card [class.mat-elevation-z8] = "true">
                <form class="example-form"  style="width: 100%" [formGroup]="depenseForme">
                  <mat-form-field  class="example-full-width">
                    <mat-label>Gasoil Espèce</mat-label>
                    <input type="number" matInput formControlName="gasoilEspece">
                    <span matSuffix>TND &nbsp;</span>
                  </mat-form-field>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Numéro de carte gasoil</mat-label>
                        <input type="number" matInput formControlName="gasoilCarteNumber" [readonly]="true">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field >
                        <mat-label>Montant de recharge carte gasoil</mat-label>
                        <mat-select formControlName="gasoilCarteValue" [disabled]="depenseForme.get('gasoilCarteNumber')!.invalid" >
                          <mat-option *ngFor="let gasValue of carteGasoilValues" [value]="gasValue">
                            {{gasValue}} <strong>TND</strong>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Recharge Carte Téléphonique</mat-label>
                    <input type="number" matInput formControlName="carteTel">
                    <span matSuffix>TND &nbsp;</span>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Avance</mat-label>
                    <input type="number" matInput formControlName="avance">
                    <span matSuffix>TND &nbsp;</span>
                  </mat-form-field>
                  <h6>Autre :</h6>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field >
                        <mat-label>Description</mat-label>
                        <input type="text" matInput formControlName="autreDesc">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field >
                        <mat-label>Valeur</mat-label>
                        <input type="number" matInput formControlName="autreValue" [readonly]="depenseForme.get('autreDesc').invalid">
                        <span matSuffix>TND</span>
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </mat-card>
            </div>
          </div>
        </mat-step>

      </div>
      <mat-step>
        <ng-template matStepLabel>Résumé</ng-template>
        <div *ngIf="!!activityRunsheet">
          <div class="row">
            <div class="col-md-4">
              <mat-accordion  [class.mat-elevation-z8] = "true" >
                <mat-expansion-panel [class.mat-elevation-z8] = "true" hideToggle class="mt-2">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Runsheets
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngIf="activityRunsheet">
                    <ul>
                      <li *ngFor="let runsheetElement of activityRunsheet.listRunsheets">
                        <p>runsheet_Packways_REF{{runsheetElement.ref}}  - Type: {{runsheetElement.type}}</p>
                      </li>
                    </ul>
                  </div>

                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z8] = "true" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Colis livrés
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let trip of ListScanSuccess">
                      <p>{{trip.refTrip}} | <strong>Exp: </strong> {{trip.userTrip.nameUser}} {{trip.userTrip.surnameUser}} | <strong>
                        Dest: </strong> {{trip.destTrip.contactAdr }}</p>
                    </li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z8] = "true" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Colis non livrés
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let trip of ListScanFailure">
                      <p>{{trip.refTrip}} | <strong>Exp: </strong> {{trip.userTrip.nameUser}} {{trip.userTrip.surnameUser}} | <strong>
                        Dest: </strong> {{trip.destTrip.contactAdr }}</p>
                    </li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z8] = "true" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Colis non traités
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let trip of listColisNonTreated">
                      <p>{{trip.refTrip}} | <strong>Exp: </strong> {{trip.userTrip.nameUser}} {{trip.userTrip.surnameUser}} | <strong>
                        Dest: </strong> {{trip.destTrip.contactAdr }}</p>
                    </li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel [class.mat-elevation-z8] = "true" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Dépenses
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngIf="!!activityRunsheet">
                    <p><strong>Gasoil Espèce :</strong> {{!!activityRunsheet.depenses?activityRunsheet.depenses.gasoilEspece: '-'}} TND  </p>
                    <p><strong>Recharge Gasoil Carte :</strong> {{!!activityRunsheet.depenses?activityRunsheet.depenses.gasoilCarteValue: '-'}} TND </p>
                    <p><strong>Recharge Carte Téléphonique :</strong> {{!!activityRunsheet.depenses?activityRunsheet.depenses.carteTel: '-'}} TND </p>
                    <p><strong>Avance :</strong> {{!!activityRunsheet.depenses?activityRunsheet.depenses.avance: '-'}} TND </p>
                    <p><strong>Autre Description :</strong> {{!!activityRunsheet.depenses?activityRunsheet.depenses.autreDesc: '-'}}</p>
                    <p><strong>Autre Valeur:</strong> {{!!activityRunsheet.depenses?activityRunsheet.depenses.autreValue: '-'}} TND </p>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-md-8">
              <mat-card [class.mat-elevation-z8] = "true" class="mt-2">
                <div class="row">
                  <div class="col-md-12">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Livreur</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{!!activityRunsheet?(activityRunsheet.driver.nameDriver+" "+activityRunsheet.driver.surnameDriver):'-'}}</label>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Nombre de colis totale</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{(!!ListScanSuccess && !!ListScanFailure && !!listColisNonTreated)?ListScanSuccess.length+ListScanFailure.length+listColisNonTreated.length:'-'}} colis</label>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-3">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Nombre de colis Livrés / Retournés</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{!!ListScanSuccess?ListScanSuccess.length:'-'}} colis</label>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-3">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Nombre de colis Non Livrés / Non Retournés</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{!!ListScanFailure?ListScanFailure.length:'-'}} colis</label>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-3">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Nombre de colis non traités</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{!!listColisNonTreated?listColisNonTreated.length:'-'}} colis</label>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Nombre des Stops</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{nbStop}}</label>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Valeur des colis traités</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{valeurColis}} TND</label>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Valeur des dépenses</h6></legend>
                      <div class="control-group">
                        <label class="text-center font-weight-light">{{valeurDepense}} TND</label>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border text-center"><h6>Montant à recevoir</h6></legend>
                      <div class="control-group">
                        <label class="text-center"><strong>{{valeurColis - valeurDepense}} TND</strong></label>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>

        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <ng-template #contentMsg let-modal id="contentMsg">
      <div class="modal-header">
        <h5 class="modal-title">Envoyer un message au client:&nbsp; {{!!scannedTrip?scannedTrip.userTrip.nameUser:'-'}}.&nbsp;Référence de colis:&nbsp; {{!!scannedTrip?scannedTrip.refTrip:'-'}}}.</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Save click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12 text-xs-center">
            <fieldset class="scheduler-border">
              <legend class="scheduler-border">Sélectionner un message:</legend>
              <div class="control-group">
                <div class="form-group">
                  <select id="inputPreMessageToClient" class="form-control dropdown-class" [(ngModel)]="inputPreMessageToClient">
                    <option *ngFor="let message of PreMessagesAction" [ngValue]="message">
                      {{ message }}
                    </option>
                  </select>
                </div>
                <div class="form-group"><input type="text" class="form-control" id="inputCusMessageToClient" name="inputCusMessageToClient" [(ngModel)]="inputCusMessageToClient" placeholder="Message personalisé"></div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click');">Envoyer</button>
      </div>
    </ng-template>


  </div>

