<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Attention</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>L'Etat de colis que vous venez de scanner est <span class="text-primary">"{{!!trip?trip.statusTrip:'-'}}"</span></strong></p>
  <p>Voulez vous forcer l'état <span class="text-danger">" Retourné "</span>?
  </p>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Annuler</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Accepter</button>
</div>
