<h1 mat-dialog-title>Veuillez entrer les informations de bordereau gasoile à affecter</h1>
<div mat-dialog-content>
  <ng2-completer [inputClass]="'form-control form-control-inline'" [datasource]="listEmployeeAuto" [minSearchLength]="0" [textSearching]="'Cherche...'"
                  [textNoResults]="'Pas trouvé.'" [placeholder]="'Employé'" (selected)="getSelectedEmployee($event)" " >
  </ng2-completer>
  <mat-form-field appearance="fill" class="mt-3" style="display: block; width: 100%">
    <mat-label>Véhicule</mat-label>
    <mat-select  required (selectionChange)="affectCar($event.value)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let car of cars" [value]="car" >
        {{car.marqueVehicle}}-{{car.modelVehicle}}-{{car.matVehicle}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngFor="let item of items; let i=index">
    <mat-form-field appearance="fill" class="mt-3" style="display: block; width: 100%">
      <mat-label>Bordereau Gasoile</mat-label>
      <mat-select  required (selectionChange)="affectBordereau($event, i)">
        <mat-option>--</mat-option>
        <mat-option [ngStyle]="{'background-color': (affectedTicketsTest.indexOf(ticket.id) >= 0)?'gray':'white'}" *ngFor="let ticket of tickets" [value]="ticket" [disabled]="affectedTickets.indexOf(ticket) >= 0" >
          Bordereau {{ticket.numero}} - Valeur: {{ticket.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <button class="ml-2" type="button" mat-stroked-button color="primary" (click)="createItem()">Nouveau Bordereau <span style="margin-top: 20px"><mat-icon class="mt-2">add</mat-icon></span></button>
  </div>

</div>
<div mat-dialog-actions class="mt-3">
  <button  mat-raised-button color="primary"  [disabled]="!affectedEmployee || !carValue || !affectedTicket"
  (click)="consumeTicket()">Affecter Bordereau</button>
  <button mat-raised-button (click)="onNoClick()" class="ml-2">Abandonner</button>
</div>
