<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="entrepot">
      <h2>Détails de l'entrepôt</h2>

      <hr>
      <dl class="row-md jh-entity-details">
        <dt><span >Nom</span></dt>
        <dd>
          <span>{{ entrepot.nom }}</span>
        </dd>
        <dt><span >Adresse</span></dt>
        <dd>
          <span>{{ entrepot.address }}</span>
        </dd>
        <dt><span>Contact</span></dt>
        <dd>
          <span>{{ entrepot.contact }}</span>
        </dd>
        <dt><span>Numéro mobile</span></dt>
        <dd>
          <span>{{ entrepot.mobileNumber }}</span>
        </dd>
        <dt><span>Crée par </span></dt>
        <dd>
          <span>{{ entrepot.createdBy }}</span>
        </dd>
        <dt><span>Date de création</span></dt>
        <dd>
          <span>{{ entrepot.createdDate }}</span>
        </dd>
        <dt><span>Edité par</span></dt>
        <dd>
          <span>{{ entrepot.updatedBy }}</span>
        </dd>
        <dt><span>Date d'édition</span></dt>
        <dd>
          <span>{{ entrepot.updatedDate }}</span>
        </dd>
        <dt><span>Deleted</span></dt>
        <dd>
          <span>{{ entrepot.deleted }}</span>
        </dd>
        <dt><span>Supprimé par</span></dt>
        <dd>
          <span>{{ entrepot.deletedBy }}</span>
        </dd>
        <dt><span>Date de suppression</span></dt>
        <dd>
          <span>{{ entrepot.deletedDate }}</span>
        </dd>
      </dl>

      <button type="submit"
              (click)="previousState()"
              class="btn btn-info">
        <mat-icon>arrow_left</mat-icon>&nbsp;<span>Retour</span>
      </button>

      <button type="button"
              [routerLink]="['/entrepot', entrepot.id, 'edit']"
              class="btn btn-primary ml-2">
        <mat-icon>create</mat-icon>&nbsp;<span>Editer</span>
      </button>
    </div>
  </div>
</div>
