<form *ngIf="employee" name="deleteForm" (ngSubmit)="confirmDelete(employee?.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmation de supression de l'employé : <strong>{{employee.firstName+' '+employee.lastName}}</strong></h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">

        <p id="jhi-delete-employee-heading" >Etes vous de supprimer Employé?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <mat-icon>cancel</mat-icon>&nbsp;<span >Annuler</span>
        </button>

        <button id="jhi-confirm-delete-employee" type="submit" class="btn btn-danger">
            <mat-icon>delete</mat-icon>&nbsp;<span >Supprimer</span>
        </button>
    </div>
</form>
