<div class="row" style="margin-top: -15px">
  <mat-card [class.mat-elevation-z8]="true" style="width: 100%;">
    <div class="row">
      <div class="col-md-12">
        <app-page-header [heading]="'Charges fixes'" [icon]="'fa-table'"></app-page-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Affecter Charges fixes</h5>
        <p style="color: grey; font-style: italic;">{{ date | date:'longDate'}}</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-10 Aligner">
      </div>
      <div class="col-md-2 Aligner">
        <button style="width: 100%" mat-raised-button   color="primary" (click)="openDialog()">Ajouter charge fixe</button>
      </div>
    </div>
  </mat-card>
</div>
<div class="row">
  <mat-spinner *ngIf="isLoadingResults" class="center"></mat-spinner>
  <mat-selection-list style="width:100%"  #tickets_list>
    <div *ngFor="let charge of filtredCharges">
      <mat-list-option #ticket_option  (click)="onAreaListControlChanged(ticket_option, charge)" >
        <div class="row mt-1" >
          <div class="col-md-9">
            <p>Employé : {{charge.employee.firstName +  ' ' +  charge.employee.lastName}} </p>
            <p style="color: grey; font-style: italic;">
              Valeur de charge Fixe: {{charge.valeur}} TND </p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-2">
            <button style="z-index: 10;" type="button" class="mat-mini-fab mt-2" title="Détails" (click)="viewDetails(charge)" > <!-- (click)="open(content)" -->
              <i class="material-icons">list</i>
            </button>
            <button style="z-index: 10;" type="button" class="mat-mini-fab mt-2 ml-2" title="Modifier" (click)="editCharge(charge)" > <!-- (click)="open(content)" -->
              <i class="material-icons">create</i>
            </button>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
          <div class="col-md-1">
            <p style="color: grey; font-style: italic;" class="mt-2">
              {{ charge.lastUpdate | date:'dd/MM/yyyy'}}
            </p>
            <p style="color: grey; font-style: italic;" [ngClass]="{'text-success': true }" class="mt-2">
              <strong>{{ calculateDiff(charge.lastUpdate)}} Jours</strong></p>
            <mat-divider style="height: 100%;" class="ml-0" [vertical]="true"></mat-divider>
          </div>
        </div>
        <mat-divider ></mat-divider>
      </mat-list-option>
    </div>
  </mat-selection-list>
</div>
