<div class="row" style="margin-top: -15px">
  <mat-card [class.mat-elevation-z8]="true" style="width: 100%;">
    <div class="row">
      <div class="col-md-12">
        <app-page-header [heading]="'Véhicules'" [icon]="'fa-table'"></app-page-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Véhicules</h5>
        <p style="color: grey; font-style: italic;">{{ date | date:'longDate'}}</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-10 Aligner">
      </div>
      <div class="col-md-2 Aligner ">
<!--        <button mat-raised-button *ngIf="inventaire_List.selectedOptions.selected.length === 0 "-->
<!--                style="width:100%;" color="primary" (click)="createInventaire()" class="ml-2">Créer un inventaire-->
<!--        </button>-->
<!--        <button mat-raised-button color="warn" class="ml-2"-->
<!--                style="width: 100%"-->
<!--                *ngIf="inventaire_List.selectedOptions.selected.length>0 && checkedInventaireStatus === 'draft' " (click)="deleteSelectedActivity()">-->
<!--          Annuler-->
<!--        </button>-->
<!--        <button mat-raised-button  class="ml-2"-->
<!--                style="width: 100%; background-color: #00aa88; color: white;"-->
<!--                *ngIf="inventaire_List.selectedOptions.selected.length>0 && checkedInventaireStatus === 'confirmed' " (click)="printRunsheet()">-->
<!--          imprimer-->
<!--        </button>-->
      </div>
    </div>
  </mat-card>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <div>
      <h2 id="page-heading">
        <button  class="btn btn-primary "  (click)="addCar()">
          <mat-icon>add_circle</mat-icon>
          <span>Créer une nouvelle véhicule</span>
        </button>
      </h2>
      <mat-spinner *ngIf="spinner" class="center"></mat-spinner>

      <div *ngIf="!spinner">
        <div class="alert alert-warning" id="no-result" *ngIf="cars?.length === 0">
          <span >aucune véhicule trouvée</span>
        </div>

        <div class="table-responsive" id="entities" *ngIf="cars && cars.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
              <th scope="col"  ><span >Marque Véhicule</span> </th>
              <th scope="col"  ><span >Model Véhicule</span> </th>
              <th scope="col"  ><span >IMat Véhicule</span> </th>
              <th scope="col" ><span >Type Véhicule</span> </th>
              <th scope="col"  ><span >Created By Name</span> </th>
              <th scope="col"  ><span>Created Date</span> </th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars ;trackBy: trackId">
              <td>{{ car.marqueVehicle }}</td>
              <td>{{ car.modelVehicle }}</td>
              <td>{{ car.matVehicle }}</td>
              <td>{{ car.typeVehicle }}</td>
              <td>{{ car.createdByName }}</td>
              <td>{{ car.createdDate | date:'mediumDate' }}</td>
              <td class="text-right">
                <div class="btn-group">
                  <button type="submit"
                          [routerLink]="['/car', car.id, 'view']"
                          class="btn btn-info btn-sm">
                    <mat-icon>visibility</mat-icon>
                    <span class="d-none d-md-inline" >View</span>
                  </button>

                  <button type="submit"
                          [routerLink]="['/car', car.id, 'edit']"
                          class="btn btn-primary btn-sm">
                    <mat-icon>create</mat-icon>
                    <span class="d-none d-md-inline" >Edit</span>
                  </button>

                  <button type="submit" (click)="delete(car)"
                          class="btn btn-danger btn-sm">
                    <mat-icon> delete</mat-icon>
                    <span class="d-none d-md-inline" >Delete</span>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="cars && cars.length > 0">
          <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
