<div [@routerTransition]>
<!--
  <div class="row" style="margin-top: -15px">
    <mat-card [class.mat-elevation-z8]="true" style="width: 100%;">
      <h1 class="text-muted" align="center">PACKWAYS</h1>
      <h1 class="text-muted" align="center"><small>Pensons Livraison, Pensez Business</small></h1>
    </mat-card>
  </div>
-->
  <ngx-spinner class="myspinner" bdColor = "rgba(255,255,255,0.8)" fullScreen="false" size = "large" color = "#000000" type = "ball-square-clockwise-spin">
  <p style="color: black; font-size: large; margin-top: 100px; height: 100vh !important"> Veuillez patienter...</p>
</ngx-spinner>
<app-stat-client *ngIf="id !== 'admin'"></app-stat-client>
  <div *ngIf="id === 'admin'">
    <div class="row">
      <div align="right" class="col-xl-1 text-xs-center">
        <label for="file-upload" class="custom-file-upload btn-sm"><i class="fa fa-cloud-upload" title="Importer du fichier excel."></i></label>
        <input id="file-upload" type="file" (change)="onFileChange($event, contentImport);" style="display: none;"/>
</div>
    </div>
    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Nombre de colis livrés </p>
            <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <div class="lds-ellipsis" *ngIf="loadData2"><div></div><div></div><div></div><div></div></div>
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0" *ngIf="!loadData2">{{nbColisLivree}}</h3>
              <i class="ti-check icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
            </div>
            <p class="mb-0 mt-2 text-success" *ngIf="!loadData1">in {{date | date:'MMMM'}} (aujourd'hui non inclus) /  <span class="text-black ml-1"><small>({{nbColisLivreeLastMonth}} last month)</small></span></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Nombre de colis retournés</p>
            <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <div class="lds-ellipsis" *ngIf="loadData2"><div></div><div></div><div></div><div></div></div>
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0" *ngIf="!loadData2" >{{nbColisRetournee}}</h3>
              <i class="ti-share icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
            </div>
            <p class="mb-0 mt-2 text-success" *ngIf="!loadData1">in {{date | date:'MMMM'}} (aujourd'hui non inclus) /  <span class="text-black ml-1"><small>({{nbColisRetourneeLastMonth}} last month)</small></span></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Valeur des dépenses</p>
            <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <div class="lds-ellipsis" *ngIf="loadData2"><div></div><div></div><div></div><div></div></div>
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0" *ngIf="!loadData2">{{valDepenses+' TND'}}</h3>
              <i class="ti-wallet icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
            </div>
            <p class="mb-0 mt-2 text-success" *ngIf="!loadData1">in {{date | date:'MMMM'}} (aujourd'hui non inclus) /  <span class="text-black ml-1"><small>({{valDepensesLastMonth}} TND last month)</small></span></p>
          </div>
        </div>
      </div>
<!--
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title text-md-center text-xl-left">Bénifice cumulé</p>
            <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
              <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{benefice +' TND'}}</h3>
              <i class="ti-money icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
            </div>
            <p class="mb-0 mt-2 text-success">in {{date | date:'MMMM'}} /  <span class="text-black ml-1"><small>({{beneficeLastMonth}} TND last month)</small></span></p>
          </div>
        </div>
      </div>
-->
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
          <app-real-time-stats></app-real-time-stats>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <mat-tab-group [color]="'primary'" [backgroundColor]="'primary'" mat-align-tabs="center">
            <mat-tab   label="Activité globale">
              <div class="nav-container" >
                <div class="bg" ></div>
                <div class="button mt-n2" tabindex="0" #button1 style="z-index:50000;float: left">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
                <div class="nav-content" tabindex="0">
                  <ul>
                    <li><mat-form-field appearance="fill" style="display: block;">
                      <mat-label>Entrepôt</mat-label>
                      <mat-select [formControl]="entrepot" required (selectionChange)="affectEntrepotActivityGlobale($event.value)">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let entrepot of entrepots" [value]="entrepot">
                          {{entrepot.nom}}
                        </mat-option>
                      </mat-select>
                      <mat-hint>{{entrepot.value?.sound}}</mat-hint>
                    </mat-form-field></li>
                    <li><mat-form-field appearance="fill">
                      <mat-label>Date de début</mat-label>
                      <input matInput [matDatepicker]="picker1"
                             (dateInput)="addEventDateDebutActivityJour('input', $event)" (dateChange)="addEventDateDebutActivityJour('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field></li>
                    <li><mat-form-field appearance="fill">
                      <mat-label>Date de fin</mat-label>
                      <input matInput [matDatepicker]="picker2"
                             (dateInput)="addEventDateFinActivityJour('input', $event)" (dateChange)="addEventDateFinActivityJour('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field></li>
                    <li>
                      <button mat-button color="primary" (click)="generateExcelReportActivityGlobale(dataSourceFiltred.data)">Generate Excel</button>
                    </li>
                  </ul>
                </div>
              </div>
              <main>
                <div class="content">
                  <div class="row">
                    <div class="col-md-12">
                      <div>
                        <table mat-table [dataSource]="dataSourceFiltred" >
                          <ng-container matColumnDef="jour">
                            <th mat-header-cell *matHeaderCellDef> Jour</th>
                            <td mat-cell *matCellDef="let element"> {{element.jour | date}} </td>
                          </ng-container>
                          <ng-container matColumnDef="entrepot">
                            <th mat-header-cell *matHeaderCellDef> Entrepot </th>
                            <td mat-cell *matCellDef="let element"> {{element.entrepot.nom}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisLivree">
                            <th mat-header-cell *matHeaderCellDef> Colis Livrés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisLivree}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisRetournee">
                            <th mat-header-cell *matHeaderCellDef> Colis Retournés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisRetournee}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisNLRetour">
                            <th mat-header-cell *matHeaderCellDef> Colis Retour </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisNLRetour}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisNLALivree">
                            <th mat-header-cell *matHeaderCellDef> Colis Chez Livreur </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisNLALivree}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisEncours">
                            <th mat-header-cell *matHeaderCellDef> Colis En cours de livraison </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisEncours}} </td>
                          </ng-container>
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-stroked-button color="primary" (click)="openModalActivityJour(contentActivityJour,element)">Détails</button>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator #pag1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </main>
            </mat-tab>
            <mat-tab label="Activité des livreurs">
              <div class="nav-container" >
                <div class="bg" ></div>
                <div class="button mt-n2" tabindex="0" #button1 style="z-index:50000;float: left">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
                <div class="nav-content" tabindex="0" style="overflow: scroll">
                  <ul>
                    <li><mat-form-field appearance="fill">
                      <mat-label>Date de début</mat-label>
                      <input matInput [matDatepicker]="picker3"
                             (dateInput)="addEventDateDebutActivityDriver('input', $event)" (dateChange)="addEventDateDebutActivityDriver('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field></li>
                    <li><mat-form-field appearance="fill">
                      <mat-label>Date de fin</mat-label>
                      <input matInput [matDatepicker]="picker4"
                             (dateInput)="addEventDateFinActivityDriver('input', $event)" (dateChange)="addEventDateFinActivityDriver('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field></li>
                    <li><ng2-completer [inputClass]="'form-control form-control-inline mt-n1'" [datasource]="Listdriverauto" [minSearchLength]="0" [textSearching]="'Cherche...'"
                                       [textNoResults]="'Pas trouvé.'" [placeholder]="'Livreur'" (selected)="getSelectedDriver($event)" [(ngModel)]="affectedDriverNgModel">
                    </ng2-completer></li>
                    <li>
                      <button mat-button color="primary" class="mt-4" (click)="generateExcelReportActivityDriver(dataSourceDriversFiltred.data)">Generate Excel</button>
                    </li>
                  </ul>
                </div>
              </div>
              <main>
                <div class="content">
                  <div class="row">
                    <div class="col-md-12">
                      <div >
                        <table mat-table [dataSource]="dataSourceDriversFiltred">
                          <ng-container matColumnDef="jour">
                            <th mat-header-cell *matHeaderCellDef> Driver</th>
                            <td mat-cell *matCellDef="let element"> {{element.jour | date}} </td>
                          </ng-container>
                          <ng-container matColumnDef="entrepot">
                            <th mat-header-cell *matHeaderCellDef> Entrepot </th>
                            <td mat-cell *matCellDef="let element"> {{element.entrepot.nom}} </td>
                          </ng-container>
                          <ng-container matColumnDef="driver">
                            <th mat-header-cell *matHeaderCellDef> Livreur </th>
                            <td mat-cell *matCellDef="let element"> {{element.driver.surnameDriver + ' '+ element.driver.nameDriver }} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisLivree">
                            <th mat-header-cell *matHeaderCellDef> Colis Livrés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisLivree}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisRetournee">
                            <th mat-header-cell *matHeaderCellDef> Colis Retournés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisRetournee}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisNLRetour">
                            <th mat-header-cell *matHeaderCellDef> Colis Retour </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisNLRetour}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisNLALivree">
                            <th mat-header-cell *matHeaderCellDef> Colis Chez Livreur </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisNLALivree}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisEncours">
                            <th mat-header-cell *matHeaderCellDef> Colis En cours de livraison </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisEncours}} </td>
                          </ng-container>
                          <ng-container matColumnDef="tauxLivraison">
                            <th mat-header-cell *matHeaderCellDef> taux de livraison </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisLivree / (element.nbColisLivree +  element.nbColisNonLivree)}} </td>
                          </ng-container>
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-stroked-button color="primary" (click)="openModalActivityDriver(contentActivityDriver,element)">Détails</button>
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>

                        <mat-paginator #pag2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>

                        </mat-paginator>
                      </div>
                    </div>
                  </div>

                </div>
              </main>
            </mat-tab>
            <mat-tab label="Activité par clients">
              <div class="nav-container" >
                <div class="bg" ></div>
                <div class="button mt-n2" tabindex="0" #button1 style="z-index:50000;float: left">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
                <div class="nav-content" tabindex="0">
                  <ul>
                    <li>                <mat-form-field appearance="fill">
                      <mat-label>Date de début</mat-label>
                      <input matInput [matDatepicker]="picker5"
                             (dateInput)="addEventDateDebutActivityClient('input', $event)" (dateChange)="addEventDateDebutActivityClient('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                    </li>
                    <li>                <mat-form-field appearance="fill">
                      <mat-label>Date de fin</mat-label>
                      <input matInput [matDatepicker]="picker6"
                             (dateInput)="addEventDateFinActivityClient('input', $event)" (dateChange)="addEventDateFinActivityClient('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                      <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                    </li>
                    <li><ng2-completer [inputClass]="'form-control form-control-inline mt-2'" [datasource]="Listuserauto" [minSearchLength]="0" [textSearching]="'Cherche...'"
                                       [textNoResults]="'Pas trouvé.'" [placeholder]="'client'" id="clientFilter" name="clientFilter" [(ngModel)]="clientFilter"
                                       (selected)="getSelectedUser($event)">
                    </ng2-completer></li>
                    <li>
                      <button mat-button color="primary" class="mt-4" (click)="generateExcelReportActivityClient(dataSourceClientsFiltred.data)">Generate Excel</button>
                    </li>
                  </ul>
                </div>
              </div>
              <main>
                <div class="content">
                  <div class="row">
                    <div class="col-md-12">
                      <div >
                        <table mat-table [dataSource]="dataSourceClientsFiltred">
                          <ng-container matColumnDef="jour">
                            <th mat-header-cell *matHeaderCellDef> Jour </th>
                            <td mat-cell *matCellDef="let element"> {{element.jour | date}} </td>
                          </ng-container>
                          <ng-container matColumnDef="client">
                            <th mat-header-cell *matHeaderCellDef> Client</th>
                            <td mat-cell *matCellDef="let element"> {{element.user.nameUser + ' ' + element.user.surnameUser}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisPickUp">
                            <th mat-header-cell *matHeaderCellDef> Colis Ramassés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisPickUp}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisLivree">
                            <th mat-header-cell *matHeaderCellDef> Colis Livrés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisLivree}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisRetournee">
                            <th mat-header-cell *matHeaderCellDef> Colis Retournés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisRetournee}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisEnCoursDePayement">
                            <th mat-header-cell *matHeaderCellDef> Colis En cours de payement  </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisEnCoursDePayement}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nbColisPayee">
                            <th mat-header-cell *matHeaderCellDef> Colis Payés </th>
                            <td mat-cell *matCellDef="let element"> {{element.nbColisPayee}} </td>
                          </ng-container>
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>  </th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-stroked-button color="primary" (click)="openModalActivityClient(contentActivityClient,element)">Détails</button>
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                        </table>

                        <mat-paginator #pag3 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                      </div>
                    </div>
                  </div>

                </div>
              </main>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h4 class="font-weight-bold mb-0">Classement cumulé des livreurs dans la semaine en cours</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Livreur
                </th>
                <th>
                  Nombre des colis livrés
                </th>
                <th>
                  Nombre des tentatives
                </th>
                <th>
                  Taux de réussite
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rank of dataSourceRanking; index as i">
                <td>
                  {{i+1}}
                </td>
                <td>
                  {{rank.driver.nameDriver + ' ' + rank.driver.surnameDriver}}
                </td>
                <td>
                  {{rank.nbColisLivree}}
                </td>
                <td>
                  {{rank.nbAttempts}}
                </td>
                <td>
                  <p style="float:left;width: 10%;" >
                    {{rank.successRate}} %
                  </p>
                  <div class="progress" style="float:right;width: 80%;">
                    <div role="progressbar" [ngClass]="{'progress-bar':true,'bg-success':(rank.successRate >= 60),
                  'bg-warning': (rank.successRate < 60) && (rank.successRate >50), 'bg-danger':(rank.successRate <= 50) }" [ngStyle]="{'width': !!rank?getIntValuue(rank.successRate)+'%':'0%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="font-weight-bold mb-0">Dernières dates de postulations par clients dans les 30 dérniers jours</h4>
              </div>
            </div>
          </div>
        </div>
        <mat-card class="mat-elevation-z8 mt-3">
          <div id="style-1" class="table-responsive"  style="height: 400px;overflow: scroll">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>
                  Client
                </th>
                <th>
                  Date de postulation
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of dataSourceLastPickUps; index as i">
                <td>
                  {{client.user.nameUser + ' ' + client.user.surnameUser}}
                </td>
                <td>
                  {{client.lasPickUpDate | date}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="font-weight-bold mb-0">Classement des clients par nombre des colis postulés dans le mois en cours</h4>
              </div>
            </div>
          </div>
        </div>
        <mat-card class="mat-elevation-z8 mt-3">
          <div id="style-2" class="table-responsive" style="height: 400px;overflow: scroll">
            <table class="table table-bordered" >
              <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Client
                </th>
                <th>
                  Nombre de colis ramassés
                </th>
                <th>
                  Taux de livraison
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of dataSourceNbPickUps; index as i">
                <td>
                  {{i+1}}
                </td>
                <td>
                  {{client.user.nameUser + ' ' + client.user.surnameUser}}
                </td>
                <td>
                  {{client.nbColisPickUp}}
                </td>
                <td>
                  {{client.tauxLivraison.toFixed(2)}} %
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card>
      </div>
    </div>
    <ng-template #contentActivityJour let-c="close" let-d="dismiss">
      <div class="modal-body">
        <div class="row justify-content-center">
          <h6 style="color: #f01010;"><b>Détail d'activity de Jour {{!!selectedActivityJour?convertTime(selectedActivityJour.jour) :'-'}} </b></h6>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
          <tbody style="font-size:14px !important;">
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Entrepot</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.entrepot.nom:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non Livrés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisNonLivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non Livrés Chez Livreur</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisNLALivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non Livrés Retour</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisNLRetour:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Livrés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisLivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Retournés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisRetournee:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">En cours de livraison</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisEncours:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Totale dans l'entrepot à 10h:00 </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisEntrepot:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Chez Livreur dans l'entrepot à 10h:00 </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisEntrepotChezLivreur:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Retour dans l'entrepot à 10h:00 </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisEntrepotRetour:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Ramassés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisPickUp:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non traités dans un pick up</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisPUNonTreated:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Chez Livreur reçus par MU</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisMUInALivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Retour reçus par MU</td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisMUInRetour:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Expédiés transit livraison </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisMUOutALivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Expédiés transit retour </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.nbColisMUOutRetour:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Valeur de colis livrés </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.valColisLivree+' TND':'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Valeur de dépenses </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.valDepenses+' TND':'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Valeur des montants récoltés </td>
            <td style="background-color: #ffffff">{{!!selectedActivityJour?selectedActivityJour.valMontantRecoltee+' TND':'-'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="(c('Close click'))">D'accord</button>
      </div>
    </ng-template>
    <ng-template #contentActivityDriver let-c="close" let-d="dismiss">
      <div class="modal-body">
        <div class="row justify-content-center">
          <h6 style="color: #f01010;"><b>Détail d'activity  Jour {{!!selectedActivityDriver?convertTime(selectedActivityDriver.jour) :'-'}} </b></h6>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
          <tbody style="font-size:14px !important;">
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Livreur</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.driver.nameDriver + ' ' + selectedActivityDriver.driver.surnameDriver :'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Entrepot</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.entrepot.nom:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non Livrés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.nbColisNonLivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non Livrés Chez Livreur</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.nbColisNLALivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non Livrés Retour</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.nbColisNLRetour:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Livrés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.nbColisLivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Stops</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.nbStopLivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Retournés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.nbColisRetournee:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">En cours de livraison</td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.nbColisEncours:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Valeur de colis livrés </td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.valColisLivree+' TND':'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Valeur de dépenses </td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.valDepenses+' TND':'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Valeur des montants récoltés </td>
            <td style="background-color: #ffffff">{{!!selectedActivityDriver?selectedActivityDriver.valMontantRecoltee+' TND':'-'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="(c('Close click'))">D'accord</button>
      </div>
    </ng-template>
    <ng-template #contentActivityClient let-c="close" let-d="dismiss">
      <div class="modal-body">
        <div class="row justify-content-center">
          <h6 style="color: #f01010;"><b>Détail d'activity de Jour {{!!selectedActivityClient?convertTime(selectedActivityClient.jour) :'-'}} </b></h6>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-sm" id="contentToConvert" style="font-size:12px !important;">
          <tbody style="font-size:14px !important;">
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Client</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.user.nameUser+' '+selectedActivityClient.user.surnameUser:'-'}}</td>
          </tr>

          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Entrepot : A livrer</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisEntrepotChezLivreur:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Entrepot : Retour</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisEntrepotRetour:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Livrés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisLivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Retournés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisRetournee:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">En cours de livraison</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisEncoursLivraison:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Ramassés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisPickUp:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Transit Livraison</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisTransitLivraison:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Transit Retour</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisTransitRetour:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Expédiés transit livraison </td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisMUOutALivree:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Non Cloturés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nonClosedTrips:'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">En cours de payement</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisEnCoursDePayement+' TND':'-'}}</td>
          </tr>
          <tr class="table-active text-center" style="background-color: #ffffff;">
            <td style="background-color: #ffffff">Payés</td>
            <td style="background-color: #ffffff">{{!!selectedActivityClient?selectedActivityClient.nbColisPayee+' TND':'-'}}</td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="(c('Close click'))">D'accord</button>
      </div>
    </ng-template>


  </div>

</div>
<ng-template #contentImport let-modal id="contentImport">
  <div class="modal-header">
          <!-- <h5 class="modal-title">Importation des colis à partir d'un fichier excel.</h5> <br> -->
          <div class="row">
                  <div class="col-xl-12 text-xs-center">
                          <div class="form-group">
                                  <small class="form-text text-primary" style="font-size:10px !important;">Choisissez une adresse source déjà enregistrée.</small>
                                  <select id="inputExpAdresseNameExcel" class="form-control" [(ngModel)]="selectedAdresseExpExcel" (change)="tripsFromExcelAdrLatLng()">
                                          <option *ngFor="let adresse of Adresses" [ngValue]="adresse">
                                                  {{ adresse.labelAdr }}
                                          </option>
                                  </select>
                          </div>
                  </div>
          </div>
  </div>
  <div class="modal-body" hidden>
          <table class="table table-sm" style="background-color: #ffffff;">
                  <tbody style="background-color: #ece8e8;">
                          <tr *ngFor="let row of tripsFromExcelTemp" class="table-active text-center">
                                  <td *ngFor="let val of row">
                                          {{val}}
                                  </td>
                          </tr>
                  </tbody>
          </table>
  </div>

  <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" (click)="modal.close('Save click')">Annuler</button>  <!-- showArrayTrip() -->
          <button type="button" class="btn btn-primary btn-sm" (click)="addTripsFromExcelFile();modal.close('Save click');">Confirmer</button>
  </div>

</ng-template>

