<h1 mat-dialog-title>Veuillez entrer les informations de la MU</h1>
<div mat-dialog-content>
  <ng2-completer [inputClass]="'form-control form-control-inline'" [datasource]="Listdriverauto" [minSearchLength]="0" [textSearching]="'Cherche...'"
                 [textNoResults]="'Pas trouvé.'" [placeholder]="'Livreur'" (selected)="getSelectedDriver($event)" [(ngModel)]="affectedDriverNgModel">
  </ng2-completer>
  <div class="input-group  mt-4 mb-3">
    <input type="text" class="form-control" placeholder="Matricule de voiture"  aria-describedby="basic-addon1" [ngModel]="muInfo?.matricule" (ngModelChange)="muInfo.matricule = $event">
  </div>
</div>
<mat-form-field appearance="fill" style="display: block; width: 100%">
  <mat-label>Entrepôt source</mat-label>
  <mat-select [formControl]="entrepotSrc" required (selectionChange)="affectEntrepotSrc($event.value)">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let entrepot of entrepots" [value]="entrepot" >
      {{entrepot.nom}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="entrepotSrc.hasError('required')">Veuillez sélectionner un entrepôt</mat-error>
  <mat-hint>{{entrepotSrc.value?.sound}}</mat-hint>
</mat-form-field>
<mat-form-field appearance="fill" style="display: block; width: 100%">
  <mat-label>Entrepôt Destination</mat-label>
  <mat-select [formControl]="entrepotDest" required (selectionChange)="affectEntrepotDest($event.value)">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let entrepot of entrepots" [value]="entrepot" >
      {{entrepot.nom}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="entrepotDest.hasError('required')">Veuillez sélectionner un entrepôt</mat-error>
  <mat-hint>{{entrepotSrc.value?.sound}}</mat-hint>
</mat-form-field>
<div mat-dialog-actions class="mt-3">
  <button  mat-raised-button color="primary" [mat-dialog-close]="muInfo" >Continuer</button>
  <button mat-raised-button (click)="onNoClick()" class="ml-2">Abandonner</button>
</div>
