<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/trips']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Gestion des colis' | translate }}</span>
        </a>
        <a *ngIf="isVisible"  href="#runsheetSubmenu"  class="list-group-item dropdown-toggle" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-files-o"></i>&nbsp; Runsheets</a>
      <ul class="collapse list-unstyled" id="runsheetSubmenu">
        <li>
          <a *ngIf="isVisible" [routerLink]="['/runsheet']" [routerLinkActive]="['router-link-active']"  class="list-group-item">
            <i class="fa fa-circle-o ml-3"></i>Créer Runsheet</a>
        </li>
        <li>
          <a *ngIf="isVisible" [routerLink]="['/runsheet-in-progress']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-circle-o ml-3"></i>Runsheets en cours
          </a>
        </li>
        <li>
          <a *ngIf="isVisible" style="white-space: pre-line;" [routerLink]="['/reconcile-runsheet']" [routerLinkActive]="['router-link-active']" class="list-group-item ml-3">
            <i class="fa fa-circle-o"></i>&nbsp;
            <span style="white-space: pre-line;">Réconcilier Runsheet</span>
          </a>
        </li>
      </ul>
      <a *ngIf="isVisible"  href="#muSubmenu"  class="list-group-item dropdown-toggle" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-th-large"></i>&nbsp; Moveable Units</a>
      <ul class="collapse list-unstyled" id="muSubmenu">
        <li>
          <a *ngIf="isVisible"  [routerLink]="['/mu']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-circle-o ml-3"></i>&nbsp;
            <span >Créer M.U </span>
          </a>
        </li>
        <li>
          <a *ngIf="isVisible" style="white-space: pre-line;" [routerLink]="['/mu-in-progress']" [routerLinkActive]="['router-link-active']" class="list-group-item ml-3">
            <i class="fa  fa-circle-o"></i>&nbsp;
            <span style="white-space: pre-line;">M.U en cours </span>
          </a>
        </li>
        <li>
          <a *ngIf="isVisible" style="white-space: pre-line;" [routerLink]="['/reconcile-mu']" [routerLinkActive]="['router-link-active']" class="list-group-item ml-3">
            <i class="fa fa-circle-o"></i>&nbsp;
            <span style="white-space: pre-line;">Réconcilier M.U</span>
          </a>
        </li>
      </ul>
      <a *ngIf="isVisible"  href="#puSubmenu"  class="list-group-item dropdown-toggle" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-truck"></i>&nbsp; Pick Ups</a>
      <ul class="collapse list-unstyled" id="puSubmenu">
        <li>
          <a *ngIf="isVisible" [routerLink]="['/ramassage']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-circle-o ml-3"></i>&nbsp;
            <span>Créer Pick Up</span>
          </a>
        </li>
        <li>
          <a *ngIf="isVisible" style="white-space: pre-line;" [routerLink]="['/ramassage-in-progress']" [routerLinkActive]="['router-link-active']" class="list-group-item ml-3">
            <i class="fa fa-circle-o"></i>&nbsp;
            <span >Pick Ups en cours</span>
          </a>
        </li>
        <li>
          <a *ngIf="isVisible" style="white-space: pre-line;" [routerLink]="['/reconcile-pickUp']" [routerLinkActive]="['router-link-active']" class="list-group-item ml-3">
            <i class="fa fa-circle-o"></i>&nbsp;
            <span style="white-space: pre-line;">Réconcilier Pick Up</span>
          </a>
        </li>
      </ul>
      <!--<a *ngIf="isVisible"  href="#reoncileSubmenu"  class="list-group-item dropdown-toggle" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-check-circle"></i>&nbsp; Reconcilier Activité</a>
      <ul class="collapse list-unstyled" id="reoncileSubmenu">
        <li>
          <a *ngIf="isVisible" [routerLink]="['/reconcile-runsheet']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-circle-o ml-3"></i>&nbsp;
            <span style="white-space: pre-line;">Runsheet</span>
          </a>
        </li>
        <li>
          <a *ngIf="isVisible" [routerLink]="['/reconcile-mu']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-circle-o ml-3"></i>&nbsp;
            <span style="white-space: pre-line;">Moveable Unit</span>
          </a>
        </li>
        <li>
          <a *ngIf="isVisible" [routerLink]="['/reconcile-pickUp']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-circle-o ml-3"></i>&nbsp;
            <span style="white-space: pre-line;">Pick Up</span>
          </a>
        </li>
      </ul>-->
      <a *ngIf="isVisible" [routerLink]="['/inventaire']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-search"></i>&nbsp;
        <span>Inventaire</span>
      </a>
      <a *ngIf="isVisible" [routerLink]="['/close-activity-runsheet']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-money"></i>&nbsp;
        <span>Récolter Activité</span>
      </a>
      <a *ngIf="isVisible" [routerLink]="['/gas-tickets']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-ticket"></i>&nbsp;
        <span>Bordereaux Gasoile</span>
      </a>
      <a *ngIf="isVisible" [routerLink]="['/depenses']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-wallet"></i>&nbsp;
        <span>Depenses</span>
      </a>
      <a  [routerLink]="['/payements']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-credit-card"></i>&nbsp;
        <span>Payements</span>
      </a>
      <a *ngIf="isVisible" [routerLink]="['/statestics']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-bar-chart"></i>&nbsp;
        <span>Tableaux de santé</span>
      </a>
        <!-- <a [routerLink]="['/adresses']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-address-card"></i>&nbsp;
            <span>{{ 'Adresses' | translate }}</span>
        </a> -->
        <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;
            <span>{{ 'Clients' | translate }}</span>
        </a>
        <a [routerLink]="['/address']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-address-card"></i>&nbsp;
            <span>Adresses</span>
        </a>
        <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/drivers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-car"></i>&nbsp;
            <span>{{ 'Drivers' | translate }}</span>
        </a>
      <a *ngIf="isVisible" [routerLink]="['/drivers-table']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-table"></i>&nbsp;
        <span>Tableau des livreurs</span>
      </a>
<!--        <a *ngIf="isVisible" [routerLink]="['/pickup']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
<!--            <i class="fa fa-exchange"></i>&nbsp;-->
<!--            <span>PickUp</span>-->
<!--        </a>-->

      <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/car']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-car"></i>&nbsp;
        <span>Véhicules</span>
      </a>
        <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/entrepot']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-building"></i>&nbsp;
          <span>Entrepot</span>
        </a>
      <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/employee']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-user"></i>&nbsp;
        <span>Employés</span>
      </a>
      <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/charge-fixe']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-users"></i>&nbsp;
        <span>Charges fixe</span>
      </a>
        <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/conflicts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-building"></i>&nbsp;
          <span>Colis de conflits</span>
        </a>
        <a *ngIf="!isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>Profil</span>
        </a>
        <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/courbeille']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-trash"></i>&nbsp;
            <span>Corbeille</span>
        </a>
<!--        <a *ngIf="isVisible" [routerLink]="['/caisse']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
<!--            <i class="fa fa-usd"></i>&nbsp;-->
<!--            <span>Caisse</span>-->
<!--        </a>-->
      <a *ngIf="isVisible" [routerLink]="['/caisse-state']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-usd"></i>&nbsp;
        <span>Etat de Caisse</span>
      </a>
      <a *ngIf="isVisible" [routerLink]="['/injection-fond']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-usd"></i>&nbsp;
        <span>Injection Caisse</span>
      </a>
        <a *ngIf="isVisible" [routerLink]="['/statlivreur']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-tachometer"></i>&nbsp;
            <span>Compteurs </span>
        </a>
        <a *ngIf="isVisible && dataUser.role === 'superAdmin'" [routerLink]="['/rapport']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-files-o"></i>&nbsp;
            <span>Rapports </span>
        </a>

        <a *ngIf="idUser === '5c595e33e497064553069490'" [routerLink]="['/parainage']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-files-o"></i>&nbsp;
            <span>Parainage </span>
        </a>
       <!--  <a *ngIf="isVisible" [routerLink]="['/map-trips']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-map-marker"></i>&nbsp;
            <span>{{ 'MapTrips' | translate }}</span>
        </a> -->
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>
        <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span>{{ 'More Themes' | translate }}</span>
        </a> -->

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{ userName }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <!-- <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
