<form *ngIf="entropot" name="deleteForm" (ngSubmit)="confirmDelete(entropot)">
  <div class="modal-header">
    <h4 class="modal-title" >Confirmer l'opération de suppression</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <p id="jhi-delete-entropot-heading">Êtes-vous sûr de vouloir supprimer cet Entrepot?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <mat-icon icon="ban">cancel</mat-icon>&nbsp;<span>Annuler</span>
    </button>

    <button id="jhi-confirm-delete-entropot" type="submit" class="btn btn-danger ml-2">
      <mat-icon icon="times">delete</mat-icon>&nbsp;<span>Supprimer</span>
    </button>
  </div>
</form>
