.black-overlay{
  height: 100vh !important;
}
/* modal animation */
.modal-content{
  animation-name: example;
  animation-duration: 0.5s;
}

@keyframes example {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.mat-tab-body-content{
  height: 100%;
  overflow: hidden !important;
}
.list-wrapper{
  max-height: 550px !important;
}
