<h1 mat-dialog-title>Veuillez entrer les informations de la Runsheet</h1>
<div mat-dialog-content>
  <ng2-completer [inputClass]="'form-control form-control-inline'" [datasource]="Listdriverauto" [minSearchLength]="0" [textSearching]="'Cherche...'"
                 [textNoResults]="'Pas trouvé.'" [placeholder]="'Livreur'" (selected)="getSelectedDriver($event)" [(ngModel)]="affectedDriverNgModel">
  </ng2-completer>
  <div class="input-group  mt-4 mb-3">
    <input type="text" class="form-control" placeholder="Matricule de voiture"  aria-describedby="basic-addon1" [ngModel]="runsheetInfo?.matricule" (ngModelChange)="runsheetInfo.matricule = $event">
  </div>
  <div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Frais de soutraitant, exmeple: 3000 "  aria-describedby="basic-addon1" [ngModel]="runsheetInfo?.cout" (ngModelChange)="runsheetInfo.cout = $event">
  </div>
</div>
<div mat-dialog-actions class="mt-3">
  <button  mat-raised-button color="primary" [mat-dialog-close]="runsheetInfo" >Continuer</button>
  <button mat-raised-button (click)="onNoClick()" class="ml-2">Abandonner</button>
</div>
